$sm: 481px;
$pc: 769px;
$vividpink: #e37ab0;
$white: #ffffff;
$gray: #e8e8e8;
$blue: #6f99e3;

@mixin sp {
  @media (min-width: ($sm)) {
    @content;
  }
}
@mixin tab {
  @media (min-width: ($pc)) {
    @content;
  }
}

@mixin button {
  background-color: $vividpink;
  color: $white;
  border-radius: 30px;
  text-align: center;
  margin: 0 auto;
  padding: 20px;
  text-decoration: none;
  width: 100%;
  display: block;
  box-sizing: border-box;
}

body {
  margin: 0px 20px;
}

img {
  width: 70%;
}

header{
  width: 100%;
  margin-top: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

@media screen and (min-width:$pc){
  header {
    // margin: 0 auto;
  }
}

header img{
  width: 50%;
}

@media screen and (min-width:$pc){
  header img{
    width: 10%;
    margin-left: 10%;
  }
}

.header__pc ul{
  display: none;
}

@media screen and (min-width:$pc){
  .header__pc ul{
    display: flex;
    list-style: none;
    li{
      margin-left: 50px;
    }
  }
}

.header__link{
  display: flex;
  justify-content: space-between;
}

.common__link1{
  display: none;
}

@media screen and (min-width:$pc){
  .common__link1{
    @include button;
  }
}

.common__link2{
  display: none;
}

@media screen and (min-width:$pc){
  .common__link2{
    @include button;
    background-color: $blue;
    margin-left: 30px;
  }
}

.firstview {
  height: 800px;
  width: 100%;
  position: relative;
  h1 {
    font-size: 30px;
    font-weight: bold;
    line-height: 30px;
    margin-bottom: 0px;
    position: absolute;
    top: 5%;
  }
  p {
    position: absolute;
    top: 18%;
  }
  .common__link {
    @include button;
    position: absolute;
    top: 70%;
  }
}

.firstview__img2 {
    background-image: url(img/fv__bg-sp.svg);
    background-repeat: no-repeat;
    background-size: contain;
    width:100%;
    height: 100%;
    .firstview__img1 {
      background-image: url(img/firstview__img.svg);
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      width:100%;
      height: 100%;
    }
}

@media screen and (min-width:$pc){
  .firstview__img2{
    display: none;
    .firstview__img1{
      display: none;
    }
  }
}

.firstview__img3{
  display: none;
}

@media screen and (min-width:$pc){
  .firstview__img3{
    background-image: url(img/fv__bg-pc.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width:100%;
    height: 100%;
    .firstview__img1{
      background-image: url(img/firstview__img.svg);
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      width:100%;
      height: 100%;
    }
  }
}


